In [10]:
print ('hello world')

hello world

In [11]:
a = 10
b = 5

In [ ]:
print(a+b)
print(a-b)
print(a*b)

In [ ]:
print ("hello world")

In [14]:
a=5

operasi numerik

In [21]:
1+1

2

In [7]:
1*2

2

In [9]:
3**2

9

In [11]:
10%3

1

In [25]:
(1+3)*4

16

Operasi Relational dan Logika

In [30]:
1==1
1<2
1>2
1<=2
1>=2
(2+5)*4>10

5!=5

False

In [32]:
1==1

True

In [34]:
1<2

True

In [36]:
1>2

False

In [38]:
1!=1

False

In [41]:
2>1<4

True

#data type

In [45]:
5

5

In [47]:
type(5)

int

In [49]:
type(2.5)

float

In [51]:
type(1+1.5)

float

In [53]:
type(2.0)

float

In [55]:
type("nama saya adalah Immanuel")

str

In [57]:
type("1")

str

In [60]:
type(True)

bool

In [62]:
int('10')

10

Operasi String

In [64]:
"hello"+"world"

'helloworld'

In [66]:
"try".join(["hello","world"])

'hellotryworld'

In [70]:
"nuel Si".join(["Imma","burian"])

'Immanuel Siburian'

In [82]:
("hello world").capitalize("h","H")

TypeError: capitalize() takes no arguments (2 given)

In [83]:
("hello world").replace("hello","welcome to the")

'welcome to the world'

In [86]:
('aku makan ayam dua kali sehari selam dua minggu'.count('dua')) * ('saya mandi satu kali dalam satu minggu').count('satu')

4

In [88]:
("hello world").startswith("h")

True

2.2 Variabel dan kontainer data

str untukk text
list untuk himpunan data lebih dari satu. Dinyatakan dalam [...]. Data disimpan sesuai dengan urutan nilai dimasukkan.
contoh: [10, 4, 5, 1, 'bear']
tuple untuk himpunan data lebih dari satu. Dinyatakan dalam (...). Setelah diinput, nilai tidak bisa diubah. Data disimpan sesuai dengan urutan nilai dimasukkan.
contoh: (10, 4, 5, 1, 'bear')
set untuk himpunan data lebih dari satu. Dinyatakan dalam {...}. Data disimpan tidak sesuai dengan urutan nilai dimasukkan.
contoh: {10, 4, 5, 1, 'bear'}
dict untuk himpunan data lebih dari satu, yang terdiri atas pasangan keys dan values. Data disimpan tidak sesuai dengan urutan nilai dimasukkan. Dinyatakan dalam {key 1: values, key 2: values, key 3: values, ...}

In [2]:
#deklarasi
x=[2,4,5,'bear',10]

In [3]:
x

[2, 4, 5, 'bear', 10]

In [5]:
type(x)

list

In [6]:
#deklarasi tuple
y = (2, 4, 5, 'bear', 10)

In [8]:
y

(2, 4, 5, 'bear', 10)

In [10]:
type(y)

tuple

In [12]:
z={2}

In [14]:
z

{2}

In [16]:
type(z)

set

Operasi dengan menggunakan variabel

In [17]:
x=1
y=2

In [19]:
x+y

3

In [21]:
z=x+y

In [23]:
z

3

In [24]:
# Operasi '+' pada str dan str
x = 'hello '
y = 'world'
z = x + y
z

'hello world'

In [30]:
# Operasi '+' pada str dan int
x = 'hello '
y = 3
a = x + y

TypeError: can only concatenate str (not "int") to str

In [32]:
# Operasi '+' pada str dan str
x = 'hello '
y = '3'
z = x + y

In [34]:
print(z)

hello 3

In [38]:
# Operasi '+' pada list
x = [10, 2, 4, 5]
y = [1, 4, 5, 6,]
z = x + y
z

[10, 2, 4, 5, 1, 4, 5, 6]

In [37]:
print (z)

[10, 2, 4, 5, 10, 2, 4, 5]

data slicing

In [39]:
a=[1,2,3,4,5,6,7,8,9,10]

In [43]:
a[3]

4

In [45]:
print (a[0], a[5], a[-1], a[-3])

1 6 10 8

data slicing untuk memanggil data

In [46]:
a = [0,1,2,3,4,5,6,7,8,9,10]

In [54]:
a[0:8]

[0, 1, 2, 3, 4, 5, 6, 7]

In [56]:
a[0:4]

[0, 1, 2, 3]

In [57]:
x = 1
type(x)

int

In [59]:
x = [1,2,3,4,5,6,7,8]
len(x)

8

In [61]:
max(x), min(x), sorted(x), sum(x), repr(x)

(8, 1, [1, 2, 3, 4, 5, 6, 7, 8], 36, '[1, 2, 3, 4, 5, 6, 7, 8]')

In [64]:
(min(x))

1

In [66]:
(max (x))

8

In [68]:
(sum(x))

36

In [70]:
x[0]

1

In [72]:
((min(x) + max (x))+sum(x))/x[0]

45.0

mengupdate kontainer

In [74]:
a = [0,1,2,3,4,5,6,7,8,9,10]

In [82]:
a.append(11)
a

[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11]

In [84]:
a.extend([2,3,4,5,2,1,2,3,4,5,6,3])
a

[0,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 11,
 11,
 11,
 11,
 2,
 3,
 4,
 5,
 2,
 1,
 2,
 3,
 4,
 5,
 6,
 3,
 2,
 3,
 4,
 5,
 2,
 1,
 2,
 3,
 4,
 5,
 6,
 3]

pada dictionary berikut adalah beberapa perintah penting:

In [86]:
dict1 = {'name': 'Nuel', 'age': 20, 'fav_foods': ['nasgor', 'bpk', 'arsik']}
dict1

{'name': 'Nuel', 'age': 20, 'fav_foods': ['nasgor', 'bpk', 'arsik']}

In [88]:
type(dict1)

dict

In [90]:
dict1.items()

dict_items([('name', 'Nuel'), ('age', 20), ('fav_foods', ['nasgor', 'bpk', 'arsik'])])

In [92]:
dict1.values()

dict_values(['Nuel', 20, ['nasgor', 'bpk', 'arsik']])

In [94]:
('hello world').capitalize()

'Hello world'

In [96]:
list(dict1.items())[1]

('age', 20)

In [98]:
list(dict1.items())[0]

('name', 'Nuel')

In [100]:
list(dict1.items())[1][1]

20

In [102]:
list(dict1.items())[0][0]

'name'

In [104]:
len(dict1['fav_foods'])

3

In [106]:
list(dict1.items())

[('name', 'Nuel'), ('age', 20), ('fav_foods', ['nasgor', 'bpk', 'arsik'])]

In [108]:
str(dict1).count("20")

1